
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Change Password</h4>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 13px;">Old Password</label>
                    <input type="text" [(ngModel)]="credential.oldPassword" name="oldPassword" class="form-control" >

                  </div>

                  <div class="form-group">

                    <label class="control-label" style="font-size: 13px;">New Password</label>
                    <p class="text-gray" style="font-size: 11px;">
                      ({{passwordFormatText}})
                    </p>
                    <input type="text" [(ngModel)]="credential.newPassword" name="newPassword" class="form-control" >

                  </div>
                  <div class="form-group">
                    <label class="control-label" style="font-size: 13px;">Re-Type Password</label>
                    <input type="text" [(ngModel)]="credential.rePassword" name="rePassword" class="form-control" >

                  </div>

                    <button
                            [disabled]="passwordChangeRequestStatus==='pending'"
                            type="submit"
                            (click)="changePassword()"
                            class="btn btn-danger pull-right">CHANGE
                    </button>
                  </div>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>