
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Change Password</h4>
          </div>
          <div class="card-content">
            <form #f="ngForm" (ngSubmit)="changePassword(f, f.valid)" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 13px;">Old Password</label>
                    <input  #oldPassword="ngModel"
                            required
                            type="password"
                            [(ngModel)]="credential.oldPassword"
                            name="oldPassword" class="form-control" >
                    <small [hidden]="oldPassword.valid || (oldPassword.pristine && !f.submitted)">
                      Enter your old password
                    </small>
                  </div>

                  <div class="form-group">

                    <label class="control-label" style="font-size: 13px;">New Password</label>
                    <input type="password"
                           #newPassword="ngModel"
                           required
                           pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
                           [(ngModel)]="credential.newPassword"
                           name="newPassword"
                           class="form-control" >
                    <small [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                      {{passwordFormatText}}
                    </small>
                  </div>
                  <div class="form-group">
                    <label class="control-label" style="font-size: 13px;">Confirm Password</label>
                    <input type="password"
                           #rePassword="ngModel"
                           required
                           [(ngModel)]="credential.rePassword"
                           name="rePassword" class="form-control" >
                    <small [hidden]="rePassword.valid || (rePassword.pristine && !f.submitted)">
                      Confirm your password
                    </small>
                  </div>

                    <button
                            [disabled]="passwordChangeRequestStatus==='pending'"
                            type="submit"
                            class="btn btn-danger pull-right">CHANGE
                    </button>
                  </div>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>