

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card">
                    <div class="card-header" data-background-color="green">

                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h4 class="title">My Account</h4>

                            </div>
                            <div class="col-md-6 text-right" >
                                <button (click)="openModal(template)" class="btn btn-primary"
                                        style="padding: 10px;top:-10px;background-color: transparent">EDIT</button>
                            </div>
                        </div>


                    </div>
                    <div class="card-content" style="margin-top: 30px;">
                        <div class=" row">
                            <div class="col-xs-12 text-center">
                                    <img
                                         class="circularImg"
                                         (click)="openModalForUpload(uploadTemplate)"
                                         [src]="serverUrl+user.profiles?.profileUrl?.url"
                                         onError="this.src='assets/img/default-avatar.png'"/>
                            </div>
                            <div class="content text-center" style="padding-left: 20px;padding-right: 20px;">
                                <h4 class="card-title" style="text-transform: capitalize">
                                    {{user.profiles?.name}}
                                   <!-- <span>
                                     <i class="material-icons">verified_user</i>

                                    </span>-->

                                </h4>

                                <p class="text-gray">

                                    <span style="position: relative; top: 3px;">
                                        <i style="font-size: 14px;color: green" class="material-icons">email</i>
                                    </span>
                                    <span>{{user.email}}</span>

                                    <span style="position: relative; top: 3px;left:3px;margin-left:5px;">
                                        <i style="font-size: 14px;color: green" class="material-icons">phone</i>
                                    </span>
                                    <span>{{user.profiles?.phone||'Mobile unavailable'}}</span>&nbsp;

                                    &nbsp;<span style="position: relative; top: 3px;">
                                    <i style="font-size: 14px;color: green" class="material-icons">history</i>
                                </span>
                                    <span>member since {{user?.createdAt|moment:true}}</span>&nbsp;

                                </p>


                                <p class="text-gray" *ngIf="user.issuerName">
                                    <span>

                                        Issuer Name: {{user.issuerName}}</span>

                                </p>
                                <p class="text-gray" *ngIf="user.walletAddress">
                                    <span>Wallet Address: {{user.walletAddress}}</span>

                                </p>
                                <hr style="margin-bottom:0;">

                                    <div [ngSwitch]="user.profiles.verificationStatus">
                                        <p style="color: green" *ngSwitchCase="'approved'">
                                            <b>Profile is Verified</b>
                                            <span style="position:relative;top:6px;">
                                        <i class="material-icons">verified_user
                                        </i>
                                    </span>

                                        </p>

                                        <p style="color: darkblue" *ngSwitchCase="'pending'">
                                            <b>Profile changes is pending for approval</b>
                                            <span style="position:relative;top:6px;">
                                       <i class="material-icons">info_outline</i>
                                    </span>

                                        </p>

                                        <p style="color:orangered" *ngSwitchCase="'rejected'">
                                            <b>Profile changes is rejected</b>
                                            <span style="position:relative;top:6px;">
                                        <i class="material-icons">highlight_off</i>
                                    </span>

                                        </p>
                                    </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Edit Your profile</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>

        <div class="modal-body">

            <form name="loginForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" style="font-size: 14px;">Name</label>
                            <input  type="text" [(ngModel)]="user.profiles.name" name="name" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" style="font-size: 14px;">Phone</label>
                            <input  type="text" [(ngModel)]="user.profiles.phone" name="phone" class="form-control" >
                        </div>
                    </div>

                </div>
                <p style="color: red;opacity: 0.6">Please note that change will go for ops approval</p>


                <button
                        [disabled]="issueTokenHttpStatus==='pending'"
                        type="submit"
                        (click)="updateProfile()"
                        class="btn btn-danger pull-right">UPDATE</button>
                <div class="clearfix"></div>
            </form>

        </div>
    </ng-template>

    <ng-template #uploadTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Change your Photo</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>

        <div class="modal-body">

            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="upload-btn-wrapper">
                        <button class="uploadBtn">Browse</button>
                        <input type="file" name="myfile" ng2FileSelect [uploader]="uploader"  accept="image/*" />
                    </div>

                    <table class="table" *ngIf="uploader.queue.length">
                        <thead>
                        <tr>
                            <th class="text-center">Size</th>
                            <th class="text-center">Progress</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td nowrap class="text-center">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td class="text-center">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>

                            <td nowrap class="text-center">
                                <button type="button" class="btn btn-success btn-xs"
                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs"
                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </ng-template>
</div>


