

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">My Account</h4>
                    </div>
                    <div class="card-content" style="margin-top: 30px;">
                        <div class=" card-profile">
                            <div class="card-avatar" style="width: 60px;height: 60px;">
                                <a href="javascipt:void(0)">
                                    <img class="img" src="../assets/img/default-avatar.png"/>
                                </a>
                            </div>

                            <div class="content" style="padding-left: 20px;padding-right: 20px;">
                                <h4 class="card-title" style="text-transform: capitalize">{{user?.name}} </h4>
                                <p class="text-gray">
                                    <span>{{user?.email}}</span>
                                    &nbsp;
                                    <span style="border:0.5px solid  #999999;"></span>
                                    &nbsp;
                                    <span>{{user?.phone||'Mobile unavailable'}}</span>&nbsp;

                                    <span style="border:0.5px solid  #999999;"></span>
                                    &nbsp;
                                    <span>member since {{user?.createdAt|moment:true}}</span>&nbsp;

                                </p>


                                <p class="text-gray">
                                    <b>Issuer Name: {{user?.issuerName}}</b>

                                </p>
                                <p class="text-gray">
                                    <b>Wallet Address: {{user?.walletAddress}}</b>

                                </p>
                                <div class=" card-content">
                              <!--      <div class="col-md-6 ">
                                        <div class="form-group label-floating has-success">
                                            <label class="control-label">Blockchain Account</label>
                                            <input [disabled]="true" type="text" value="Registered" class="form-control"/>
                                                <span class="form-control-feedback">
                                    <i class="material-icons">done</i>
                                </span>
                                        </div>



                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group label-floating has-success">
                                            <label class="control-label">Issuer Account</label>
                                            <input [disabled]="true" type="text" value="Active" class="form-control"/>
                                                <span class="form-control-feedback">
                                    <i class="material-icons">done</i>
                                </span>
                                        </div>


                                    </div>-->


                                </div>

                                <hr>
                                <p>
                                    <i class="material-icons">info_outline</i>
                                    <span style="position: relative;bottom: 7px;" class="text-gray">To change any information please contact us at
                                        help@agriledger.co</span>
                                </p>

                                <!--
                                                    <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                                -->
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

