<div class="main-content">
  <div class="container-fluid">

    <button class="btn btn-simple" (click)="goBack()">
      <i class="material-icons">keyboard_return</i>Back
    </button>
    <div class="row">
      <div class="col-xs-12" >
        <div class="card card-stats" >

          <div class="card-content">

            <div class="row" style="text-align: center">
              <h3>Asset Details</h3>
              <div class="row" style="padding: 15px">
                <div class="col-xs-12">

                  <ol class="breadcrumb text-left" style="margin-bottom: 5px;">
                    <li><a href="javascript:void (0)">{{asset?.category?.level1}}</a></li>
                    <li><a href="javascript:void (0)">{{asset?.category?.level2}}</a></li>
                    <li> <a href="javascript:void (0)">{{asset?.category?.level3}}</a></li>
                    <li> <a href="javascript:void (0)">{{asset?.category?.level4}}</a></li>
                    <li> <a href="javascript:void (0)">{{asset?.category?.level5}}</a></li>

                  </ol>
                </div>
                <div class="col-lg-6" >

                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Asset Name</b>


                    </div>
                    <div class="col-xs-6 text-right">
                      <span class="text-gray">{{asset?.name}}</span>
                    </div>
                  </div>


                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Harvest amount</b>


                    </div>
                    <div class="col-xs-6 text-right" >
                      <span class="text-gray">{{asset?.expectedHarvestAmount}}</span>
                    </div>
                  </div>

                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Created on</b>


                    </div>
                    <div class="col-xs-6 text-right">
                    <span class="text-gray" [routerLink]="['../assets',asset.id]" ata-toggle="tooltip" data-placement="left"
                          title="{{asset?.createdAt|date:'medium'}}">
                      {{asset?.createdAt|moment}}
                    </span>

                    </div>
                  </div>

                </div>
                <div class="col-lg-6" >










                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Harvest date</b>


                    </div>
                    <div class="col-xs-6 text-right" >
                      <span class="text-gray" [routerLink]="['../assets',asset.id]" ata-toggle="tooltip" data-placement="left"
                            title="{{asset?.expectedHarvestDate|date:'medium'}}">
                      {{asset?.expectedHarvestDate|moment}}
                    </span>
                    </div>
                  </div>


                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Pooled</b>


                    </div>
                    <div class="col-xs-6 text-right" >
                      <span class="text-gray">{{asset.isPutOnBlockchain?'Yes' :'No'}}</span>
                    </div>

                  </div>




                </div>
              </div>


            </div>

            <div class="row" style="text-align: center">
              <h3>Farmer Details</h3>
              <div class="row" style="padding: 15px">

                <div class="col-lg-6" >


                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Name</b>
                    </div>
                    <div class="col-xs-6 text-right">
                      <span class="text-gray">{{asset?.user?.profiles?.name}}</span>
                    </div>
                  </div>


                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Email</b>


                    </div>
                    <div class="col-xs-6 text-right">
                      <span class="text-gray">
                      {{asset?.user?.email}}
                      </span>
                    </div>
                  </div>


                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Phone</b>


                    </div>
                    <div class="col-xs-6 text-right" >
                      <span class="text-gray">
                      {{asset?.user?.profiles?.phone}}
                      </span>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6" >



                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Address</b>


                    </div>
                    <div class="col-xs-6 text-right">
                    <span class="text-gray">
                      {{asset?.user?.profiles?.address}}

                    </span>

                    </div>
                  </div>






                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Registration no.</b>


                    </div>
                    <div class="col-xs-6 text-right" >
                      <span class="text-gray">
                      {{asset?.user?.profiles?.registration}}
                    </span>
                    </div>
                  </div>


                  <div class="row" style="text-align: left">
                    <hr>

                    <div class="col-xs-6 text-left">
                      <b>Company</b>


                    </div>
                    <div class="col-xs-6 text-right" >
                      <span class="text-gray">
                      {{asset?.user?.profiles?.company}}
                      </span>
                    </div>

                  </div>




                </div>
              </div>


            </div>



            <div class="row" style="text-align: center">

              <div class="col-xs-12">

                <h3>Assets Evidences</h3>


                <div class="row" *ngIf="asset.evidences && !asset.evidences.length">
                  <div class="col-xs-12 text-center">
                    <h3 class="text-gray">
                      No evidences uploaded
                    </h3>
                  </div>
                </div>

                <div class="row" *ngIf="asset.evidences && asset.evidences.length">
                  <div class="col-xs-12 col-md-3 text-center text-gray" *ngFor="let evidence of asset.evidences">
                    <a [href]="evidence.url" target="_blank" download>
                      <img [src]="evidence.url" class="evidencesImage">

                    </a>
                        <div>{{evidence?.date|moment}}</div>
                        <div style="text-wrap: normal;word-wrap: break-word">{{evidence?.hash}}</div>
                    <div>{{evidence?.lat}},{{evidence?.long}}</div>

                    <div>
                      <button  class="btn btn-simple" *ngIf="evidence && evidence.status==='rejected'">Rejected</button>

                      <button class="btn btn-simple" *ngIf="evidence && evidence.status==='approved'">Approved</button>

                      <button class="btn btn-primary  btn-simple" *ngIf="evidence && evidence.status==='pending'">Pending</button>

                    </div>



                  </div>
                </div>




              </div>


            </div>



          </div>




        </div>
      </div>
    </div>
  </div>



</div>
