
<app-header></app-header>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Set your new Password</h4>
          </div>
          <div class="card-content">
            <form *ngIf="!isSuccess" #f="ngForm" (ngSubmit)="resetPassword(f, f.valid)" novalidate>
              <div class="form-group">
                <label class="control-label" style="font-size: 13px;">New Password</label>
                <input #newPassword="ngModel" type="password" [(ngModel)]="credential.newPassword"
                       required
                       pattern="^[0-9]{6,6}$"
                       name="newPassword"
                       class="form-control" >
                <small [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                  {{passwordFormatText}}
                </small>
              </div>

              <div class="form-group">
                <label class="control-label" style="font-size: 13px;">Confirm Password</label>
                <input #rePassword="ngModel" type="password"
                       required
                       [(ngModel)]="credential.rePassword" name="rePassword" class="form-control" >

                <small [hidden]="rePassword.valid || (rePassword.pristine && !f.submitted)">
                  Confirm password is required
                </small>

              </div>

              <button
                      [disabled]="passwordChangeRequestStatus==='pending'"
                      type="submit"
                      class="btn btn-danger pull-right">SET
              </button>
            </form>

            <div class="row" *ngIf="isSuccess">
              <div class="col-xs-12 text-center">
                <h5>You have set your password successfully</h5>
                <label>Please go back to App and login again</label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>