<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Assets</h4>
            <p class="category">List of Assets of all the Farmers</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table">
              <thead  >
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Grade/Quality</th>
                <th>Quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><label class="container">
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>Dakota Rice</td>
                <td>Rice</td>
                <td>Oud-Turnhout</td>
                <td  >36738</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
