<div class="row" style="text-align: center" >
  <p class="text-left" style="padding: 0px 15px;">
  <a href="javascript:void(0)"  (click)="openModal(template)">(EDIT)</a>
  </p>

  <div class="row" style="padding: 15px">


    <div class="col-lg-6" >

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Internal ID</b>
        </div>
        <div class="col-xs-8 text-right">
          <span class="text-gray">{{_user?.id}}</span>
        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Agri ID</b>
        </div>
        <div class="col-xs-8 text-right">
          <span class="text-gray">{{_user?.agriId || 'N.A'}}</span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Name</b>
        </div>
        <div class="col-xs-8 text-right">
          <span class="text-gray">{{_user?.profiles?.name}}</span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Email</b>


        </div>
        <div class="col-xs-8 text-right">
                      <span class="text-gray">
                      {{_user?.email}}
                      </span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Phone</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{_user?.profiles?.phone}}
                      </span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Wechat ID</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.weChat}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Registered on Blockchain?</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.isRegisteredOnBlockchain?'Yes':'No'}}

                    </span>

        </div>
      </div>




      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Member since</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.createdAt|moment:true}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Last Login</b>


        </div>
        <div class="col-xs-8 text-right">

          <span class="text-gray" *ngIf="_user.lastLoggedIn">{{_user?.lastLoggedIn|moment}}</span>
          <span  class="text-gray" *ngIf="!_user.lastLoggedIn">N.A</span>


        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Verification status</b>


        </div>
        <div class="col-xs-8 text-right" *ngIf="_user.profiles">

          <span class="text-gray" *ngIf="_user.profiles.verificationStatus==='pending'">Pending</span>
          <span class="text-gray" *ngIf="_user.profiles.verificationStatus==='approved'">Approved</span>
          <span class="text-gray" *ngIf="_user.profiles.verificationStatus==='rejected'">Rejected</span>


        </div>
      </div>


    </div>
    <div class="col-lg-6" >

      <div class="row" style="text-align: left">
        <hr class="hr-margin">


        <div class="col-xs-4 text-left">
          <b>Wallet address</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{_user.walletAddress || 'N.A'}}
                    </span>
        </div>

      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">


        <div class="col-xs-4 text-left">
          <b>Registration no.</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{_user?.profiles?.registration}}
                    </span>
        </div>

      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Company</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{_user?.profiles?.company}}
                      </span>
        </div>

      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Country</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.address?.country}}

                    </span>

        </div>
      </div>




      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Province</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.address?.province}}

                    </span>

        </div>
      </div>
      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>City</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.address?.city}}

                    </span>

        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>District</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.address?.district}}

                    </span>

        </div>
      </div>



      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-6 text-left">
          <b>Address Line 1</b>


        </div>
        <div class="col-xs-6 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.address?.line1}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Address Line 2</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.profiles?.address?.line2}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr class="hr-margin">

        <div class="col-xs-4 text-left">
          <b>Issuer on Blockchain</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{_user?.isIssuerOnBlockchain?'Yes':'No'}}

                    </span>

        </div>
      </div>

    </div>
  </div>


</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <app-user-profile-edit [user]="_user" (onProfileUpdate)="onProfileUpdate($event)"></app-user-profile-edit>
  </div>
</ng-template>