<div class="main-content">


  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Transfer</h4>
          </div>
          <div class="card-content">
            <app-error-show *ngIf="!user.walletAddress" [error]="'You are not registered on Blockchain!'">
            </app-error-show>

            <form name="loginForm" *ngIf="user.walletAddress">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Sender Address</label>
                    <input type="text" [(ngModel)]="user.walletAddress" disabled name="walletAddress" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Recipient Address
                      <span *ngIf="user.role==='sponsor'">(Underwriter at the e-commerce marketplace)</span>
                    </label>
                    <input type="text" [(ngModel)]="transaction.toAddress" name="toAddress" class="form-control" >
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Token</label>
                    <select class="form-control "  name="currency" [(ngModel)]="transaction.currency">

                      <option *ngFor="let token of tokenRange" [value]="token.currency">
                        {{token.currency}}
                      </option>


                    </select>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Number</label>
                    <input type="text" [(ngModel)]="transaction.amount" name="amount" class="form-control" >
                  </div>
                </div>
              </div>


              <div class="row">


                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Fee</label>
                    <input type="text" [(ngModel)]="transaction.fee" name="fee" class="form-control" >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Message</label>
                    <input type="text" [(ngModel)]="transaction.remark" name="remark" class="form-control" >
                  </div>
                </div>
              </div>



              <button
                      type="submit"
                      [disabled]="transferHttpRequestStatus==='pending'
                      || !transaction.amount
                      || !transaction.fee
                      || !transaction.remark
                       || !transaction.currency"
                      (click)="transfer()"
                      class="btn btn-danger pull-right">Transfer</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
