<div class="main-content">


  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Transfer</h4>
          </div>
          <div class="card-content">
            <form name="loginForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Sender Address</label>
                    <input type="text" value="adfg44tgc4ggdfdf44d" disabled name="email" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Recipient Address (undertaker@marketplace)</label>
                    <input type="text" [(ngModel)]="user.email" name="email" class="form-control" >
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Token</label>
                    <select class="form-control "  name="status">
                      <option value="0">AGT</option>
                      <option value="1">BTC</option>

                    </select>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Number</label>
                    <input type="text" [(ngModel)]="user.email" name="email" class="form-control" >
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">Message</label>
                    <input type="text" [(ngModel)]="user.email" name="email" class="form-control" >
                  </div>
                </div>
              </div>



              <button
                      type="submit"

                      (click)="login()"
                      class="btn btn-danger pull-right">Transfer</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
