<div>
    <nav class="navbar  navbar-primary">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" [routerLink]="['']" href="javascript:void (0)"><b style="letter-spacing: 5px">AgriLedger</b></a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="isAuthenticated">

                        <a href="javascript:void(0)">
                            <b *ngIf="balance">Balance ({{balance}}.00 ACC)</b>
                        </a>
                    </li>


                    <li class="dropdown" >
                        <a  href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">translate</i>
                            <span>Langauge</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a (click)="appLanguageChange('en')" href="javascript:void (0)">English (default)</a></li>
                            <li><a (click)="appLanguageChange('ch')" href="javascript:void (0)">中文</a></li>

                        </ul>
                    </li>


                    <li class="dropdown" *ngIf="isAuthenticated">
                        <a  href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a (click)="logout()" href="javascript:void (0)">Logout</a></li>
                        </ul>
                    </li>

                    <!--<li>
                      <a [routerLink]="['/login-ops']" class="btn btn-danger" href="../components-documentation.html">
                        Ops Login
                      </a>
                    </li>
                    <li>
                      <a  [routerLink]="['/login-sponsor']" class="btn btn-danger" href="../components-documentation.html">
                        Sponser Login
                      </a>
                    </li>-->
                    <!--  <li>
                        <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                          <i class="fa fa-facebook-square"></i>
                        </a>
                      </li>-->

                </ul>
            </div>
        </div>
    </nav>

</div>