<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Asset Pool</h4>
            <p class="category">List of Asset Pool</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table">
              <thead  >
              <tr>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Phone</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Dakota Rice</td>
                <td>China</td>
                <td>Oud-Turnhout</td>
                <td  >36738</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
