<app-header></app-header>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">{{'ACCOUNT_CREATE'|translate}}</h4>
            <p class="category">{{'REGISTER_ON_BLOCKCHAIN'|translate}}</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 14px;">{{'SPONSOR_NAME'|translate}}</label>

                    <input [disabled]="true" [(ngModel)]="user.name"  name="name" type="text" class="form-control" >
                  </div>
                </div>
              </div>


              <button [disabled]="accountRequestStatus==='pending'"
                      (click)="createBlockchainAccount()"
                      type="submit"
                      class="btn btn-danger pull-right">
                {{'Create'|translate}}
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
