<app-header></app-header>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">{{'ACCOUNT_CREATE'|translate}}</h4>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h3 style="text-transform: capitalize">Hi {{user.profiles.name}}</h3>
                  <h4>
                    <p class="category">{{'REGISTER_ON_BLOCKCHAIN'|translate}}</p>

                  </h4>
                </div>
              </div>


              <button [disabled]="accountRequestStatus==='pending'"
                      (click)="createBlockchainAccount()"
                      type="submit"
                      class="btn btn-danger pull-right">
                {{'REGISTER'|translate}}
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
