<app-header></app-header>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Create an Account</h4>
            <p class="category">Register yourself on Blockchain</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Sponsor Name</label>
                    <input [disabled]="true" [(ngModel)]="user.name"  name="name" type="text" class="form-control" >
                  </div>
                </div>
              </div>


              <button (click)="createBlockchainAccount()" type="submit" class="btn btn-danger pull-right">Create Account</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
