<section>
    <div>
        <nav class="navbar  navbar-primary">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void (0)"><b style="letter-spacing: 5px">Agriledger</b></a>
                </div>

                <div class="collapse navbar-collapse" id="navigation-example">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>
                          <a [routerLink]="['/login-ops']" class="btn btn-danger" href="../components-documentation.html">
                            Ops Login
                          </a>
                        </li>
                        <li>
                          <a  [routerLink]="['/login-sponsor']" class="btn btn-danger" href="../components-documentation.html">
                            Sponser Login
                          </a>
                        </li>-->
                        <!--  <li>
                            <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                              <i class="fa fa-facebook-square"></i>
                            </a>
                          </li>-->

                    </ul>
                </div>
            </div>
        </nav>

    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title">Blockchain platform for Farmers</h1>
                <h4>Agriledger, Revolutionising the Supply Chain.</h4>
                <h4>Creating opportunities across the value chain.</h4>
                <h4>Guaranteeing Authenticity and Quantity.</h4>
                <h4>Creating Transparency and Traceability.</h4>
                <br/>
            </div>
        </div>
        <a style="width: 160px;" [routerLink]="['/login']" class="btn btn-danger" href="javascipt:void(0)">
            SIGN IN
        </a>
    </div>

    <!--<footer class="footer" style="bottom: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: lightgrey;">
        <div class="container">
            <nav class="">
                <ul>
                    <li>
                        <a [routerLink]="['/about-us']" href="javascript:void(0)">
                            About us
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/privacy']" href="javascript:void(0)">
                            Privacy Policy
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/terms']" href="javascript:void(0)">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact-us']" href="javascript:void(0)">
                            Contact us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>-->

</section>
