<div class="logo" style="background-color: ghostwhite">
    <a href="javascript:void(0)" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png"/>
        </div>
        Agriledger
    </a>
</div>
<div class="sidebar-wrapper" style="background-color: beige">



    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
