<div  class="main-content">


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                    <h4 class="title">Balance</h4>
                </div>
                    <div class="card-content text-center" >
                        <h2 class="card-title " style="text-transform: capitalize">{{'200 ACC'}} </h2>

                        <a href="#" class="btn btn-primary " >Transfer</a>



                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Transaction History</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead  >
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>Your Address</th>
                                    <th>Recipient Address</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>qwewr</td>
                                    <td>sdfjhk</td>
                                    <td>Ournhot</td>
                                    <td >36738</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>