<div  class="main-content">




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Transaction History</h4>

                    </div>
                    <div class="card-content">
                        <div class="card-content table-responsive">
                            <app-error-show *ngIf="!user.walletAddress" [error]="'You are not registered on Blockchain!'">
                            </app-error-show>


                            <app-spinner [type]="'bounce'" *ngIf="txnRequestStatus==='pending'"></app-spinner>

                            <app-error-show *ngIf="txnRequestStatus==='rejected'" [error]="'Transactions could not be fetched.Try again!'">

                            </app-error-show>
                            <table class="table" *ngIf="transactions.length">
                                <thead  >
                                <tr>
                                    <th class="boldfont">Amount</th>
                                    <th class="boldfont">Fee</th>

                                    <th class="boldfont">Sender Address</th>

                                    <th class="boldfont">Recipient Address</th>
                                    <th class="boldfont">Type</th>
                                    <th class="boldfont">Date</th>

                                    <th class="boldfont">Remark</th>

                                </tr>
                                </thead>
                                <tbody>


                                <tr *ngFor="let txn of transactions">

                                    <td>{{txn?.amountShow}}</td>
                                    <td>{{txn?.fee|xas}}</td>

                                    <td data-toggle="tooltip" data-placement="left" title="{{txn?.senderId}}">

                                        {{txn?.senderId}}
                                        <span style="color: green;font-weight: 600">{{txn?.senderId===user?.walletAddress ? '(Me)':''}}</span>

                                    </td>
                                    <td data-toggle="tooltip" data-placement="left" title="{{txn?.recipientId}}">

                                        {{txn?.recipientId}}
                                        <span style="color: green;font-weight: 600">{{txn?.recipientId===user?.walletAddress ? '(Me)':''}}</span>


                                    </td>
                                    <td data-toggle="tooltip" data-placement="left" title="{{txn?.blockId}}">
                                        {{txn?.type|txnType}}
                                    </td>
                                    <td >{{txn?.timestamp|moment}}</td>

                                    <td >{{txn?.message}}</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>