<div class="login-wrapper">
  <app-header></app-header>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">{{'SIGNIN'|translate}}</h4>
                            <p class="category">{{'SIGNIN_DESCRIPTION'|translate}}</p>
                        </div>
                        <div class="card-content">
                            <form #f="ngForm" (ngSubmit)="login(f, f.valid)" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 14px;">{{'Email'|translate}}</label>
                                            <input #email="ngModel"
                                                   required
                                                   style="text-transform: lowercase"
                                                   type="email"
                                                   email
                                                   [(ngModel)]="user.email"
                                                   name="email" class="form-control" >
                                            <small [hidden]="email.valid || (email.pristine && !f.submitted)">
                                                Email is required
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" style="font-size: 14px;">{{'Password'|translate}}</label>
                                            <input #password="ngModel"
                                                   required
                                                    style="text-transform: lowercase"
                                                   type="password"
                                                    [(ngModel)]="user.password"
                                                    name="password"
                                                    class="form-control" >
                                            <small [hidden]="password.valid || (password.pristine && !f.submitted)">
                                                Password is required
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <label class="checkbox-inline">
                                    <input type="checkbox"
                                           [(ngModel)]="isTermChecked"
                                           name="isTermChecked">
                                    <a (click)="openModal(template)" href="javascript:void(0)">I agree to Term and condition</a>
                                </label>
                                <button
                                        type="submit"
                                        [disabled]="loginRequestStatus==='pending'"
                                        class="btn btn-danger pull-right">
                                    {{'SIGNIN'|translate}}
                                </button>
                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <a (click)="goToForgetPasswordPage()" href="javascript:void(0)">Forgot Password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div id="login_container"></div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Term and Conditions</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                Coming Soon!

            </div>
        </div>


    </div>
</ng-template>
