<app-header [balance]="account.balance"></app-header>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Activate your Account</h4>
            <p class="category">to register yourself as an Issuer on Blockchain </p>
          </div>
          <div class="card-content">
            <form #f="ngForm" (ngSubmit)="registerAsIssuer(f, f.valid)" novalidate>
              <div class="row">


                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required" style="font-size: 14px;">Issuer Name</label>

                    <input  [(ngModel)]="issuer.name"
                            #issuerName="ngModel"
                            name="issuerName"
                            required
                            pattern="^[A-Z]{1,16}$"
                            type="text" class="form-control" >
                    <small [hidden]="issuerName.valid || (issuerName.pristine && !f.submitted)">
                      Name should be in all capital and 1-16 character long
                    </small>

                  </div>
                  <div class="form-group">
                    <label class="control-label required" style="font-size: 14px;">Description</label>
                    <input [(ngModel)]="issuer.description"
                           #description="ngModel"
                           name="description"
                           required
                           type="text" class="form-control" >
                    <small [hidden]="description.valid || (description.pristine && !f.submitted)">
                     Description is required
                    </small>
                  </div>

                  <div class="form-group">

                    <label class="control-label required" style="font-size: 14px;">Fee</label>
                    <input [disabled]="true"
                           [(ngModel)]="fee"
                           name="fee" type="text" class="form-control" >

                  </div>


                  </div>

                </div>

                <button
                        [disabled]="!account?.balance || issuerRequestStatus==='pending'"
                        type="submit"
                        class="btn btn-danger pull-right">Activate</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
