<app-header [balance]="account.balance"></app-header>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Activate your Account</h4>
            <p class="category">to register yourself as an Issuer on Blockchain </p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">


                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label required" style="font-size: 14px;">Issuer Name</label>
                    <p class="text-gray" style="font-size: 11px;">
                      (Name should be in all capital and 1-16 character long)
                    </p>
                    <input  [(ngModel)]="issuer.name"  name="issuerName" type="text" class="form-control" >


                  </div>
                  <div class="form-group">
                    <label class="control-label required" style="font-size: 14px;">Description</label>
                    <input [(ngModel)]="issuer.description"  name="description" type="text" class="form-control" >
                  </div>

                  <div class="form-group">

                    <label class="control-label required" style="font-size: 14px;">Fee</label>
                    <input [disabled]="true" [(ngModel)]="fee"  name="fee" type="text" class="form-control" >
                  </div>


                  </div>

                </div>

                <button
                        [disabled]="!account?.balance || issuerRequestStatus==='pending'
                        || !issuer.name || !issuer.description || !fee"
                        (click)="registerAsIssuer()"
                        type="submit"
                        class="btn btn-danger pull-right">Activate</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
