<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Assets</h4>
            <p class="category">List of Assets of all the Farmers</p>
          </div>

          <div class="row" style="padding: 15px;">
            <div class="col-xs-12">
              <div class="dropdown" style="float: left">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  Filter by Category <span style="font-weight: bolder" [hidden]="!chosenCategory">({{chosenCategory}})</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" (click)="getAssets('category','rice')">Rice</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('category','potato')">Potato</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('category','tomato')">Tomato</a></li>

                </ul>
              </div>

              <div class="dropdown" style="float: left">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  Filter by Status <span style="font-weight: bolder" [hidden]="!chosenStatus">({{chosenStatus}})</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" (click)="getAssets('status','pending')">Pending</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('status','verified')">Verified</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('status','rejected')">Rejected</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('status','pooled')">Pooled</a></li>

                </ul>
              </div>

              <div style="float: right">
                <button class="btn btn-danger">Create Pool</button>

              </div>

            </div>



          </div>


          <div class="card-content table-responsive">

            <h3 class="text-center text-gray" *ngIf="assetsRequestStatus==='resolved' && !assets.length ">
              No Assets Available!

            </h3>

            <app-error-show *ngIf="assetsRequestStatus==='rejected'" [error]="'Assets could not be fetched.Try again!'">

            </app-error-show>

            <app-spinner *ngIf="assetsRequestStatus==='pending'" [type]="'bounce'"></app-spinner>


            <table class="table" *ngIf="assetsRequestStatus==='resolved' && assets.length ">
              <thead  >
              <tr >
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Status</th>

              </tr>
              </thead>
              <tbody>



              <tr *ngFor="let asset of assets"  >
                <td><span>
                  <input type="checkbox" [(ngModel)]="asset.isSelected">
                </span>
                  <span style="position:relative;top:-3px;">{{asset?.name}}</span></td>
                <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.description}}</td>

                <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.category}}</td>
                <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.quantity}}</td>
                <td [style.color]="getColor(asset.status)"
                    style="text-transform: capitalize;font-weight: bold;
                    cursor: pointer"
                    [routerLink]="['../assets',asset.id]">{{asset?.status}}</td>

              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
