<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
              <h4 class="title">Assets</h4>
              <p class="category">
                <a class="btn btn-danger" (click)="goToCreateAssetPoolPage()" >Create Asset Pool</a>

              </p>



          </div>

          <div class="row" style="padding: 15px;">
            <div class="col-xs-12">
              <div class="dropdown" style="float: left">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  Filter by Category <span style="font-weight: bolder">
                  ({{assetCategoriesLevelOne[selectedIndexOnLevelOne]?.name||'unselected'}})</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let category of assetCategoriesLevelOne;let i=index">
                    <a style="text-transform: capitalize" href="javascript:void(0)" (click)="selectCategory(i,1,category.id)">
                      {{category.name}}
                    </a>
                  </li>


                </ul>
              </div>


              <div class="dropdown" style="float: left" *ngIf="assetCategoriesLevelTwo.length">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  SubCategory
                  <span style="font-weight: bolder">
                  ({{assetCategoriesLevelTwo[selectedIndexOnLevelTwo]?.name||'unselected'}})
                </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let category of assetCategoriesLevelTwo;let i=index">
                    <a style="text-transform: capitalize" (click)="selectCategory(i,2,category.id)" href="javascript:void(0)">
                      {{category.name}}

                    </a>
                  </li>


                </ul>
              </div>

              <div class="dropdown" style="float: left" *ngIf="assetCategoriesLevelThree.length">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  SubCategory
                  <span style="font-weight: bolder">

                  ({{assetCategoriesLevelThree[selectedIndexOnLevelThree]?.name||'unselected'}})
                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let category of assetCategoriesLevelThree;let i=index">
                    <a style="text-transform: capitalize" (click)="selectCategory(i,3,category.id)" href="javascript:void(0)">
                      {{category.name}}

                    </a>
                  </li>


                </ul>
              </div>


              <div class="dropdown" style="float: left" *ngIf="assetCategoriesLevelFour.length">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  SubCategory
                  <span style="font-weight: bolder">
                    ({{assetCategoriesLevelFour[selectedIndexOnLevelFour]?.name||'unselected'}})

                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let category of assetCategoriesLevelFour;let i=index">
                    <a style="text-transform: capitalize" (click)="selectCategory(i,4,category.id)" href="javascript:void(0)">
                      {{category.name}}

                    </a>
                  </li>


                </ul>
              </div>


              <div class="dropdown" style="float: left" *ngIf="assetCategoriesLevelFive.length">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  SubCategory
                  <span style="font-weight: bolder">
                   ({{assetCategoriesLevelFive[selectedIndexOnLevelFive]?.name||'unselected'}})
                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let category of assetCategoriesLevelFive;let i=index">
                    <a style="text-transform: capitalize" (click)="selectCategory(i,5,category.id)" href="javascript:void(0)">
                      {{category.name}}

                    </a>
                  </li>


                </ul>
              </div>

              <a class="btn btn-info" *ngIf="showFilterButton" (click)="getAssets(selectedId)" >APPLY</a>


<!--
              <div class="dropdown" style="float: left">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  Filter by Status <span style="font-weight: bolder" [hidden]="!chosenStatus">({{chosenStatus}})</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" (click)="getAssets('status','pending')">Pending</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('status','verified')">Available</a></li>
                  <li><a href="javascript:void(0)" (click)="getAssets('status','pooled')">Pooled</a></li>

                </ul>
              </div>-->


            </div>



          </div>


          <div class="card-content table-responsive">

            <h3 class="text-center text-gray" *ngIf="assetsRequestStatus==='resolved' && !assets.length ">
              No Assets Available!

            </h3>

            <app-error-show *ngIf="assetsRequestStatus==='rejected'" [error]="'Assets could not be fetched.Try again!'">

            </app-error-show>

            <app-spinner *ngIf="assetsRequestStatus==='pending'" [type]="'bounce'"></app-spinner>


            <table class="table" *ngIf="assetsRequestStatus==='resolved' && assets.length ">
              <thead  >
              <tr >
                <th class="boldfont">Asset Name</th>
                <th class="boldfont">Farmer Name</th>

                <th class="boldfont">Description</th>
                <th class="boldfont">Quantity</th>
                <th class="boldfont">Status</th>

              </tr>
              </thead>
              <tbody>



              <tr *ngFor="let asset of assets"  >
                <td><span>
                  <input type="checkbox" [(ngModel)]="asset.isSelected">
                </span>
                  <span style="position:relative;top:-3px;">{{asset?.name}}</span></td>
                <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.user?.name}}</td>
                <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.description}}</td>

                <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.quantity}}</td>
                <td [style.color]="getColor(asset.status)"
                    style="text-transform: capitalize;font-weight: bold;
                    cursor: pointer"
                    [routerLink]="['../assets',asset.id]">{{asset?.status}}</td>

              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
