<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="background-color:#ccc;margin:0;">
      <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-header custom-padding" data-background-color="red">
          <i class="material-icons">account_balance_wallet</i>
        </div>
        <div class="card-content">
          <p class="category">Total Assets</p>
          <h3 class="title">{{stat.allAssetCount}}</h3>
        </div>

      </div>
    </div>

      <div class="col-md-3">
        <div class="card card-stats">
          <div class="card-header custom-padding" data-background-color="orange">
            <i class="material-icons">store</i>
          </div>
          <div class="card-content">
            <p class="category"> Pooled Assets</p>
            <h3 class="title">{{stat.pooledAssetCount}}</h3>
          </div>

        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-stats">
          <div class="card-header custom-padding" data-background-color="green">
            <i class="material-icons">offline_pin</i>
          </div>
          <div class="card-content">
            <p class="category"> Available Assets</p>
            <h3 class="title">{{stat.availableAssetCount}}</h3>
          </div>

        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-stats pointer" [routerLink]="['../favourite-assets']">
          <div class="card-header custom-padding" data-background-color="blue">
            <i class="material-icons">favorite</i>
          </div>
          <div class="card-content">
            <p class="category"> Favourite Assets</p>
            <h3 class="title">{{stat.favouriteAssetCount}}</h3>
          </div>

        </div>
      </div>
    </div>




    <div class="row" >
      <div class="col-md-12 ">
        <div class="dropdown">
          <a  href="javascript:void(0)" class="btn   dropdown-toggle" data-toggle="dropdown">
            Filter
            <span style="font-weight: bolder" *ngIf="selectedFilter">
                    ({{selectedFilter}})
                </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let filter of filters">
              <a style="text-transform: capitalize" href="javascript:void(0)" (click)="filterChange(filter.value)">
                {{filter.name}}
              </a>
            </li>




          </ul>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <div class="row">
              <div class="col-md-6">
                <h4 class="title">Assets</h4>

              </div>





            </div>
          </div>

          <div class="row"  style="padding: 15px;" *ngIf="selectedFilter==='category'">
            <div class="col-xs-12" >
              <div class="dropdown" style="float: left">
                <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
                  Category 1
                  <span style="font-weight: bolder" *ngIf="assetCategoriesLevelOne[selectedIndexOnLevelOne]?.attrs[chosenLang]">
                  ({{assetCategoriesLevelOne[selectedIndexOnLevelOne]?.attrs[chosenLang]}})
                </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let c of assetCategoriesLevelOne;let i=index">
                    <a style="text-transform: capitalize" href="javascript:void(0)" (click)="onAssetCategoryLevelChange(c,0,i)">
                      {{c.attrs[chosenLang]}}
                    </a>
                  </li>




                </ul>
              </div>


              <div class="dropdown" style="float: left" >
                <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
                  Category 2
                  <span style="font-weight: bolder" *ngIf="assetCategoriesLevelTwo[selectedIndexOnLevelTwo]?.attrs[chosenLang]">
                  ({{assetCategoriesLevelTwo[selectedIndexOnLevelTwo]?.attrs[chosenLang]}})
                </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let c of assetCategoriesLevelTwo;let i=index">
                    <a style="text-transform: capitalize" href="javascript:void(0)" (click)="onAssetCategoryLevelChange(c,1,i)">
                      {{c.attrs[chosenLang]}}
                    </a>
                  </li>


                </ul>
              </div>

              <div class="dropdown" style="float: left" >
                <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
                  Category 3
                  <span style="font-weight: bolder" *ngIf="assetCategoriesLevelThree[selectedIndexOnLevelThree]?.attrs[chosenLang]">

                  ({{assetCategoriesLevelThree[selectedIndexOnLevelThree]?.attrs[chosenLang]}})
                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let c of assetCategoriesLevelThree;let i=index">
                    <a style="text-transform: capitalize" href="javascript:void(0)" (click)="onAssetCategoryLevelChange(c,2,i)">
                      {{c.attrs[chosenLang]}}
                    </a>
                  </li>


                </ul>
              </div>

              <div class="dropdown" style="float: left" >
                <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
                  Category 4
                  <span style="font-weight: bolder" *ngIf="assetCategoriesLevelFour[selectedIndexOnLevelFour]?.attrs[chosenLang]">
                    ({{assetCategoriesLevelFour[selectedIndexOnLevelFour]?.attrs[chosenLang]}})

                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let c of assetCategoriesLevelFour;let i=index">
                    <a style="text-transform: capitalize" href="javascript:void(0)" (click)="onAssetCategoryLevelChange(c,3,i)">
                      {{c.attrs[chosenLang]}}
                    </a>
                  </li>


                </ul>
              </div>

              <div class="dropdown" style="float: left">
                <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
                  Category 5
                  <span style="font-weight: bolder" *ngIf="assetCategoriesLevelFive[selectedIndexOnLevelFive]?.attrs[chosenLang]">
                   ({{assetCategoriesLevelFive[selectedIndexOnLevelFive]?.attrs[chosenLang]}})
                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let c of assetCategoriesLevelFive;let i=index">
                    <a style="text-transform: capitalize" href="javascript:void(0)" (click)="onAssetCategoryLevelChange(c,4,i)">
                      {{c.attrs[chosenLang]}}
                    </a>
                  </li>


                </ul>
              </div>

            </div>

          </div>
          <section *ngIf="assetsRequestStatus==='rejected' || assetsRequestStatus==='pending'">

            <div class="row">
              <div class="col-xs-12">
                <div class="card-content table-responsive">
                  <app-error-show *ngIf="assetsRequestStatus==='rejected'" [error]="'Assets could not be fetched.Try again!'">

                  </app-error-show>

                  <app-spinner *ngIf="assetsRequestStatus==='pending'" [type]="'bounce'"></app-spinner>
                </div>
              </div>
            </div>

          </section>

          <div class="row" *ngIf="assetsRequestStatus==='resolved' && !assets.length ">
            <div class="col-xs-12 text-center">
              <h4 class="text-gray">
                No Asset available
              </h4>
            </div>
          </div>


            <div class="card-content table-responsive" *ngIf="assetsRequestStatus==='resolved' && assets.length ">

              <table class="table" >
                <thead  >
                <tr >
                  <th class="boldfont">Asset Name</th>

                  <th class="boldfont">City</th>

                  <th class="boldfont">Harvest amount</th>
                  <th class="boldfont">Harvest date</th>

                  <th class="boldfont">Created on</th>

                  <th class="boldfont">Status</th>

                </tr>
                </thead>
                <tbody>



                <tr *ngFor="let asset of assets"  >
                  <td>
                    <div *ngIf="canSelected">
                      <span><input type="checkbox" [(ngModel)]="asset.isSelected"></span>
                      <span style="position:relative;top:-3px;">{{asset?.name}}</span>
                    </div>
                    <div style="cursor: pointer" *ngIf="!canSelected" [routerLink]="['../assets',asset.id]">
                      <span style="position:relative;top:-3px;">{{asset?.name}}</span>
                    </div>

                  </td>

                  <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">
                    {{asset?.user?.profiles?.address?.city}}
                  </td>


                  <td style="cursor: pointer" [routerLink]="['../assets',asset.id]">{{asset?.expectedHarvestAmount}}</td>
                  <td style="cursor: pointer" [routerLink]="['../assets',asset.id]" ata-toggle="tooltip" data-placement="left"
                      title="{{asset?.expectedHarvestDate|date:'medium'}}">
                    {{asset?.expectedHarvestDate|moment}}</td>

                  <td style="cursor: pointer" [routerLink]="['../assets',asset.id]" ata-toggle="tooltip" data-placement="left"
                      title="{{asset?.createdAt|date:'medium'}}">
                    {{asset?.createdAt|moment}}
                  </td>

                  <td [style.color]="getColorForStatus(asset.status)"
                      style="text-transform: capitalize;font-weight: bold;
                    cursor: pointer"
                      [routerLink]="['../assets',asset.id]">{{asset?.status}}</td>
                </tr>
                </tbody>
              </table>

              <div class="row" *ngIf="showPoolButton">
                <div class="col-xs-12">
                  <button class="btn btn-success" (click)="putInPool()">Select and continue</button>
                </div>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>
