<div class="main-content">
  <div class="container-fluid">

    <button class="btn btn-simple" (click)="goBack()" style="margin: 0;">
      <i class="material-icons">keyboard_return</i>Back
    </button>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-pills-info" style="background-color:#00bcd41c;padding:8px;">
          <li class="active"><a href="#profile" data-toggle="tab">User Details</a></li>
          <li><a href="#profile_documents" data-toggle="tab">User Documents</a></li>
          <li><a href="#assets" data-toggle="tab">User Assets</a></li>
          <li><a href="#farm_details" data-toggle="tab">User Farm Details</a></li>

        </ul>
      </div>
      <div class="col-xs-12">


        <div class="card card-stats" >

          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">

                <app-user-detail-card [user]="user"></app-user-detail-card>
              </div>

              <div class="tab-pane" id="profile_documents">
                <app-document-list
                        (onStatusChange)="onStatusChange($event)"
                        [documents]="user?.profiles?.documents"
                        [documentType]="DocumentType.PROFILE_DOCUMENTS">

                </app-document-list>
              </div>

              <div class="tab-pane" id="assets">
                Coming Soon
              </div>
              <div class="tab-pane" id="farm_details">
                Coming Soon
              </div>
            </div>




          </div>




        </div>
      </div>
    </div>
  </div>



</div>
