<div class="main-content">
  <div class="container-fluid">

    <button class="btn btn-simple" (click)="goBack()" style="margin: 0;">
      <i class="material-icons">keyboard_return</i>Back
    </button>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-pills-info" style="background-color:#00bcd41c;padding:8px;">
          <li class="active"><a href="#profile" data-toggle="tab">User Details</a></li>
          <li><a href="#profile_documents" data-toggle="tab">User Documents</a></li>
          <li><a href="#assets" data-toggle="tab">User Assets</a></li>
        </ul>
      </div>
      <div class="col-xs-12">


        <div class="card card-stats" >

          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <div class="row" style="text-align: center" id="">
                  <h3>User Details</h3>
                  <div class="row" style="padding: 15px">


                    <div class="col-lg-6" >

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>AgriId</b>
                        </div>
                        <div class="col-xs-8 text-right">
                          <span class="text-gray">{{user?.id}}</span>
                        </div>
                      </div>


                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Name</b>
                        </div>
                        <div class="col-xs-8 text-right">
                          <span class="text-gray">{{user?.profiles?.name}}</span>
                        </div>
                      </div>


                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Email</b>


                        </div>
                        <div class="col-xs-8 text-right">
                      <span class="text-gray">
                      {{user?.email}}
                      </span>
                        </div>
                      </div>


                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Phone</b>


                        </div>
                        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user?.profiles?.phone}}
                      </span>
                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-6 text-left">
                          <b>Address Line1</b>


                        </div>
                        <div class="col-xs-6 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.line1}}

                    </span>

                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Address Line2</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.line2}}

                    </span>

                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Member since</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.createdAt|moment:true}}

                    </span>

                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Last Login</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.lastLoggedIn|moment}}

                    </span>

                        </div>
                      </div>



                    </div>
                    <div class="col-lg-6" >

                      <div class="row" style="text-align: left">
                        <hr>


                        <div class="col-xs-4 text-left">
                          <b>Wallet address</b>


                        </div>
                        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user.walletAddress || 'N.A'}}
                    </span>
                        </div>

                      </div>


                      <div class="row" style="text-align: left">
                        <hr>


                        <div class="col-xs-4 text-left">
                          <b>Registration no.</b>


                        </div>
                        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user?.profiles?.registration}}
                    </span>
                        </div>

                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Company</b>


                        </div>
                        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user?.profiles?.company}}
                      </span>
                        </div>

                      </div>



                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>City</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.city}}

                    </span>

                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Province</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.province}}

                    </span>

                        </div>
                      </div>
                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Wechat ID</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.weChat}}

                    </span>

                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Registered on Blockchain?</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.isRegisteredOnBlockchain?'Yes':'No'}}

                    </span>

                        </div>
                      </div>

                      <div class="row" style="text-align: left">
                        <hr>

                        <div class="col-xs-4 text-left">
                          <b>Issuer on Blockchain</b>


                        </div>
                        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.isIssuerOnBlockchain?'Yes':'No'}}

                    </span>

                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>

              <div class="tab-pane" id="profile_documents">
                <app-document-list
                        (onStatusChange)="onStatusChange($event)"
                        [documents]="user?.profiles?.documents"
                        [documentType]="DocumentType.PROFILE_DOCUMENTS">

                </app-document-list>
              </div>

              <div class="tab-pane" id="assets">
                Asset Details
              </div>
            </div>




          </div>




        </div>
      </div>
    </div>
  </div>



</div>
