<div class="main-content">
  <div class="container-fluid">

    <button class="btn btn-simple" (click)="goBack()" style="margin: 0;">
      <i class="material-icons">keyboard_return</i>Back
    </button>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-pills-info" style="background-color:#00bcd41c;padding:8px;">
          <li class="active"><a href="#profile" data-toggle="tab">User Profile</a></li>
          <li><a href="#profile_documents" data-toggle="tab">User Documents</a></li>
          <li><a href="#assets" data-toggle="tab">User Assets</a></li>
          <li><a href="#farm_details" data-toggle="tab">User Farm Details</a></li>

        </ul>
      </div>
      <div class="col-xs-12">


        <div class="card card-stats" >

          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">

                <app-user-detail-card [user]="user"></app-user-detail-card>
              </div>

              <div class="tab-pane" id="profile_documents">
                <app-document-list
                        (onStatusChange)="onStatusChange($event)"
                        [documents]="user?.profiles?.documents"
                        [documentType]="DocumentType.PROFILE_DOCUMENTS">

                </app-document-list>
              </div>

              <div class="tab-pane" id="assets">
                <h4 class="text-center">
                List of Assets
              </h4>

                <h5 *ngIf="assets && !assets.length" class="text-gray text-center">
                  No assets created!
                </h5>



                <div class="table-responsive" *ngIf="assets && assets.length ">

                  <table class="table" style="border: 1px solid #ddd" >
                    <thead  >
                    <tr >
                      <th class="boldfont text-center">Sr.no</th>

                      <th class="boldfont text-center">Asset Name</th>

                      <th class="boldfont text-center">Harvest amount</th>
                      <th class="boldfont text-center">Harvest date</th>

                      <th class="boldfont text-center">Created on</th>

                      <th class="boldfont text-center">Status</th>

                    </tr>
                    </thead>
                    <tbody>



                    <tr *ngFor="let asset of assets;let i=index"  >
                      <td class="text-center" style="cursor: pointer" [routerLink]="['../../assets',asset.id]">
                        <span>{{i+1}}</span>
                      </td>
                      <td class="text-center" style="cursor: pointer" [routerLink]="['../../assets',asset.id]">
                        <span>{{asset?.name}}</span>
                      </td>



                      <td class="text-center" style="cursor: pointer" [routerLink]="['../../assets',asset.id]">
                        {{asset?.expectedHarvestAmount}}
                      </td>
                      <td class="text-center" style="cursor: pointer" [routerLink]="['../../assets',asset.id]">
                        {{asset?.expectedHarvestDate|moment}}
                      </td>

                      <td class="text-center" style="cursor: pointer" [routerLink]="['../../assets',asset.id]" >
                        {{asset?.createdAt|moment}}
                      </td>

                      <td class="text-center" [style.color]="getColorForStatus(asset.status)"
                          style="text-transform: capitalize;font-weight: bold;
                    cursor: pointer"
                          [routerLink]="['../../assets',asset.id]">{{asset?.status}}</td>
                    </tr>
                    </tbody>
                  </table>



                </div>

              </div>
              <div class="tab-pane" id="farm_details">
                <h5 *ngIf="user.profiles.farmDetails && !user.profiles.farmDetails.length"
                    class="text-gray text-center">
                  No Farm details found!
                </h5>
                <div class="row">
                  <div style="cursor: pointer" class="col-lg-4 col-md-6 col-sm-6" *ngFor="let farm of user.profiles.farmDetails">
                    <div class="card card-stats" style="border: 1px solid #c4c4c4" >

                      <div class="card-content" style="text-align: left" >


                        <div>
                          <div class="row">
                            <div class="col-xs-12 text-left">
                              <p class="category">{{farm.farmName}}</p>

                            </div>

                          </div>

                          <hr class="hr-margin">

                          <div class="row" style="text-align: left">

                            <div class="col-xs-6 text-left">
                              products
                            </div>
                            <div class="col-xs-6 text-right">
                              <b>{{farm.products}}</b>
                            </div>
                          </div>
                          <hr class="hr-margin">
                          <div class="row" style="text-align: left">

                            <div class="col-xs-6 text-left">
                              crops
                            </div>
                            <div class="col-xs-6 text-right">
                              <b>{{farm.crops}}</b>
                            </div>
                          </div>
                          <hr class="hr-margin">

                          <div class="row" style="text-align: left">

                            <div class="col-xs-6 text-left">
                              grade
                            </div>
                            <div class="col-xs-6 text-right">
                              <b>{{farm.grade}}</b>
                            </div>
                          </div>
                          <hr class="hr-margin">


                          <div class="row" style="text-align: left">

                            <div class="col-xs-6 text-left">
                              size
                            </div>
                            <div class="col-xs-6 text-right">
                              <b>{{farm.size}}</b>
                            </div>
                          </div>
                          <hr class="hr-margin">

                          <div class="row" style="text-align: left">

                            <div class="col-xs-6 text-left">
                              region
                            </div>
                            <div class="col-xs-6 text-right">
                              <b>{{farm.region}}</b>
                            </div>
                          </div>
                        </div>

                      </div>




                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>




        </div>
      </div>
    </div>
  </div>



</div>
