<app-header></app-header>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Change Password</h4>
            <p class="category">for security purpose please change your initial password</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                        <label for="oldPass" class="control-label" style="font-size: 13px;">Old Password</label>
                        <input id="oldPass" type="password" [(ngModel)]="credential.oldPassword" name="oldPassword" class="form-control" >

                  </div>

                  <div class="form-group">
                    <label for="newPass" class="control-label" style="font-size: 13px;">New Password</label>
                    <p class="text-gray" style="font-size: 11px;">
                      ({{passwordFormatText}})
                    </p>
                    <input id="newPass" type="password" [(ngModel)]="credential.newPassword" name="newPassword" class="form-control" >

                  </div>

                  <div class="form-group">

                    <label for="rePass" class="control-label" style="font-size: 13px;">Confirm Password</label>
                    <input id="rePass" type="password" [(ngModel)]="credential.rePassword" name="rePassword" class="form-control" >

                  </div>

                    <button
                            [disabled]="passwordChangeRequestStatus==='pending'
                            || credential.oldPassword.length<6
                            || credential.newPassword.length<6
                             || credential.newPassword!==credential.rePassword"
                            type="submit"
                            (click)="changePassword()"
                            class="btn btn-danger pull-right">Save
                    </button>
                  </div>
                </div>





            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>