<app-header></app-header>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Change Password</h4>
            <p class="category">for security purpose please change your initial password</p>
          </div>
          <div class="card-content">
            <form #f="ngForm" (ngSubmit)="changePassword(f, f.valid)" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                        <label for="oldPass" class="control-label" style="font-size: 13px;">Old Password</label>
                        <input id="oldPass" type="password"
                               #oldPassword="ngModel"
                               required
                               [(ngModel)]="credential.oldPassword"
                               name="oldPassword"
                               class="form-control" >
                    <small [hidden]="oldPassword.valid || (oldPassword.pristine && !f.submitted)">
                      Old password is required
                    </small>
                  </div>

                  <div class="form-group">
                    <label for="newPass" class="control-label" style="font-size: 13px;">New Password</label>

                    <input id="newPass" type="password"
                           pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
                           required
                           #newPassword="ngModel"
                           [(ngModel)]="credential.newPassword"
                           name="newPassword"
                           class="form-control" >
                    <small [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                      {{passwordFormatText}}
                    </small>
                  </div>

                  <div class="form-group">

                    <label for="rePass" class="control-label" style="font-size: 13px;">Confirm Password</label>
                    <input id="rePass"
                           type="password"
                           #rePassword="ngModel"
                           required
                           [(ngModel)]="credential.rePassword"
                           name="rePassword" class="form-control" >
                    <small [hidden]="rePassword.valid || (rePassword.pristine && !f.submitted)">
                      Confirm password is required
                    </small>
                  </div>

                    <button
                            [disabled]="passwordChangeRequestStatus==='pending'"
                            type="submit"
                            class="btn btn-danger pull-right">CHANGE
                    </button>
                  </div>
                </div>





            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>