<div class="main-content">
  <div class="container-fluid">

    <div class="dropdown" style="float: left">
      <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
        Filter by role <span *ngIf="selectedRoleFiler">({{selectedRoleFiler}})</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let filter of roleFilters">
          <a style="text-transform: capitalize" href="javascript:void(0)" (click)="getByFilter(filter)">
            {{filter.name}}
          </a>
        </li>

      </ul>
    </div>
<!--

    <div class="dropdown" style="float: left">
      <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
        Filter by Onboarding status <span *ngIf="selectedOnboardingFilter">({{selectedOnboardingFilter}})</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let filter of onboardingFilters">
          <a style="text-transform: capitalize" href="javascript:void(0)" (click)="getByFilter(filter)">
            {{filter.name}}
          </a>
        </li>

      </ul>
    </div>-->

    <div class="card" style="margin-top: 50px;">
      <div class="card-header" data-background-color="green">
        <h4 class="title">Users list</h4>

      </div>

      <div class="card-content">
        <div class="card-content table-responsive">
          <app-spinner [type]="'bounce'" *ngIf="usersHttpSstatus==='pending'"></app-spinner>

          <app-error-show *ngIf="usersHttpSstatus==='rejected'" [error]="'Users list could not be fetched.Try again!'">

          </app-error-show>
          <table class="table" *ngIf="users.length">
            <thead  >
            <tr>
              <th class="boldfont">Email</th>
              <th class="boldfont">Name</th>

              <th class="boldfont">Phone</th>

              <th class="boldfont">Wallet Address</th>
              <th class="boldfont">Role</th>
              <th class="boldfont">Joined on</th>

              <th class="boldfont">Onboarding Status</th>

            </tr>
            </thead>
            <tbody>


            <tr *ngFor="let user of users;let i=index">

              <td><span>{{i+1}}.</span> {{user?.email}}</td>
              <td >

                {{user?.profiles?.name}}


              </td>
              <td >

                {{user?.phone}}


              </td>

              <td data-toggle="tooltip" data-placement="left" title="{{user?.walletAddress}}">

                {{user.walletAddress ?(user.walletAddress|slice:0:10 )+'...' :'' }}


              </td>
              <td>
                {{user?.role}}
              </td>
              <td *ngIf="user.createdAt" data-toggle="tooltip" data-placement="left" title="{{user?.createdAt|date:'medium'}}" >
                {{user?.createdAt|moment}}</td>
              <td>
                {{user|onboardingStatus}}
              </td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>


    </div>





    <!-- <section >
         <div class="card">
             <div class="card-header" data-background-color="green">
                 <h4 class="title">Others's asset pool</h4>

             </div>



             <div class="card-content table-responsive" >

                 <section *ngIf="otherAssetPoolHttpSstatus==='pending' || otherAssetPoolHttpSstatus==='rejected'">
                     <app-spinner [type]="'bounce'" *ngIf="otherAssetPoolHttpSstatus==='pending'"></app-spinner>

                     <app-error-show *ngIf="otherAssetPoolHttpSstatus==='rejected'" [error]="'Others Assets pool could not be fetched.Try again!'">

                     </app-error-show>
                 </section>

                 <section *ngIf="otherAssetPoolHttpSstatus==='resolved'">

                     <div class="row" *ngIf="!otherPools.length">
                         <div class="col-xs-12 text-center">
                             <h3 class="text-gray">
                                 No Asset found
                             </h3>
                         </div>
                     </div>

                     <div class="row">
                         <div style="cursor: pointer" class="col-lg-4 col-md-6 col-sm-6" *ngFor="let pool of otherPools">
                             <div class="card card-stats"  >

                                 <div class="card-content" style="text-align: left" >
                                     <p class="category">Currency Name</p>
                                     <h5 class="title">{{pool.issuerName}}.{{pool.currency}}</h5>

                                     <hr>

                                     <div class="row" style="text-align: left" [routerLink]="['../assets-pool-view',pool.id]">

                                         <div class="col-xs-6 text-left">
                                             Maximum
                                         </div>
                                         <div class="col-xs-6 text-right">
                                             <b>{{pool.maximum}}</b>
                                         </div>
                                     </div>
                                     <hr>

                                     <div class="row" style="text-align: left" [routerLink]="['../assets-pool-view',pool.id]">

                                         <div class="col-xs-6 text-left">
                                             Issued Quantity
                                         </div>
                                         <div class="col-xs-6 text-right">
                                             <b>{{pool?.blockchain?.quantity|truncateBalance:pool?.blockchain?.precision}}</b>
                                         </div>
                                     </div>

                                     <hr>

                                     <div class="row" style="text-align: left" [routerLink]="['../assets-pool-view',pool.id]">

                                         <div class="col-xs-6 text-left">
                                             Left quantity
                                         </div>
                                         <div class="col-xs-6 text-right">
                                             <b>{{(pool?.blockchain?.maximum-pool?.blockchain?.quantity)|truncateBalance:pool?.blockchain?.precision}}</b>
                                         </div>
                                     </div>
                                     <hr>

                                     <div class="row" style="text-align: left" >

                                         <div class="col-xs-6 text-left">
                                             Status
                                         </div>
                                         <div class="col-xs-6 text-right" *ngIf="pool?.blockchain">
                                             <b [style.color]="getColor(pool?.blockchain?.approved)">{{pool?.blockchain?.approved===0?'Pending':'Approved'}}</b>
                                         </div>
                                     </div>

                                     <div class="row" style="text-align: center">

                                         <div class="col-xs-12">
                                             <button [disabled]="!pool.blockchain || !pool.blockchain.approved" class="btn btn-danger" (click)="openModal(template,pool)">ISSUE</button>
                                         </div>


                                     </div>
                                 </div>




                             </div>
                         </div>
                     </div>


                 </section>


             </div>

         </div>



     </section>-->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">ISSUE TOKEN</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="loginForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" style="font-size: 14px;">Maximum</label>
                <input [disabled]="true" type="text" [(ngModel)]="selectedPool.maximum" name="maximum" class="form-control" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" style="font-size: 14px;">Currency</label>
                <input [disabled]="true" type="text" [(ngModel)]="selectedPool.blockchain.currency" name="currency" class="form-control" >
              </div>
            </div>

          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" style="font-size: 14px;">Issue Number</label>
                <input type="text"  [(ngModel)]="token.amount"  name="amount" class="form-control" >
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" style="font-size: 14px;">Exchange rate</label>
                <input type="text"  [(ngModel)]="token.exchangeRate"  name="exchangeRate" class="form-control" >
              </div>
            </div>

          </div>


          <button
                  [disabled]="issueTokenHttpStatus==='pending'"
                  type="submit"
                  (click)="issueToken(selectedPool)"
                  class="btn btn-danger pull-right">SUBMIT</button>
          <div class="clearfix"></div>
        </form>

      </div>
    </ng-template>

  </div>
</div>
