<div class="main-content">
  <div class="container-fluid">

    <div class="dropdown" style="float: left">
      <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
        Filter by role <span *ngIf="selectedRoleFiler">({{selectedRoleFiler}})</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let filter of roleFilters">
          <a style="text-transform: capitalize" href="javascript:void(0)" (click)="getByFilter(filter)">
            {{filter.name}}
          </a>
        </li>

      </ul>
    </div>
<!--

    <div class="dropdown" style="float: left">
      <a  href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown">
        Filter by Onboarding status <span *ngIf="selectedOnboardingFilter">({{selectedOnboardingFilter}})</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let filter of onboardingFilters">
          <a style="text-transform: capitalize" href="javascript:void(0)" (click)="getByFilter(filter)">
            {{filter.name}}
          </a>
        </li>

      </ul>
    </div>-->

    <div class="card" style="margin-top: 50px;">
      <div class="card-header" data-background-color="green">
        <h4 class="title">Users list</h4>

      </div>

      <div class="card-content">
        <div class="card-content table-responsive">
          <app-spinner [type]="'bounce'" *ngIf="usersHttpSstatus==='pending'"></app-spinner>

          <app-error-show *ngIf="usersHttpSstatus==='rejected'" [error]="'Users list could not be fetched.Try again!'">

          </app-error-show>
          <table class="table" *ngIf="users.length">
            <thead  >
            <tr>
              <th class="boldfont">Email</th>
              <th class="boldfont">Name</th>

              <th class="boldfont">Phone</th>
              <th class="boldfont">Role</th>
              <th class="boldfont">Joined on</th>
              <th class="boldfont">Last Login</th>

              <th class="boldfont" (click)="openModal(template)">Onboarding Status</th>

            </tr>
            </thead>
            <tbody>


            <tr *ngFor="let user of users;let i=index" style="cursor:pointer" [routerLink]="['../user-view',user.id]">

              <td><span>{{i+1}}.</span> {{user?.email}}</td>
              <td >

                {{user?.profiles?.name}}


              </td>
              <td >

                {{user.profiles?.phone||'N.A'}}


              </td>
              <td>
                {{user?.role}}
              </td>
              <td *ngIf="user.createdAt" data-toggle="tooltip" data-placement="left" title="{{user?.createdAt|date:'medium'}}" >
                <span *ngIf="user.createdAt">{{user?.createdAt|moment}}</span>
                <span *ngIf="!user.createdAt">N.A</span>

              </td>
              <td  data-toggle="tooltip" data-placement="left" title="{{user?.createdAt|date:'medium'}}" >
              <span *ngIf="user.lastLoggedIn">{{user?.lastLoggedIn|moment}}</span>
              <span *ngIf="!user.lastLoggedIn">N.A</span>
            </td>
              <td>

                {{user|onboardingStatus}}
              </td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>


    </div>


    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Onboarding Status Guide</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>For Ops/Sponsor</label>
        <div class="row">
          <div class="col-xs-12">
            We have 4 Onboarding status

          </div>
          <div class="col-xs-12">
            <ul>
              <li >
                Pending (When user has not even reset his password created by Ops )

              </li>
              <li >
                Password changed (when user reset his password first time)
              </li>
              <li >
                Account created (when user register an account on blockchain)
              </li>
              <li >
                Completed (when user register as a issuer)
              </li>
            </ul>
          </div>
        </div>

        <label>For Farmer</label>
        <div class="row">
          <div class="col-xs-12">
            We have 2 Onboarding status

          </div>
          <div class="col-xs-12">
            <ul>
              <li >
                Pending (When farmer has not even reset his password created by Ops )
              </li>
              <li >
                Completed (when farmer reset his password first time)
              </li>

            </ul>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
