<div class="main-content">
  <div class="container-fluid">

    <div class="card" style="margin-top: 50px;">
      <div class="card-header" data-background-color="green">
        <h4 class="title">Issued Tokens</h4>

      </div>

      <div class="card-content table-responsive" >

        <section *ngIf="tokenHttpRequestStatus==='pending' || tokenHttpRequestStatus==='rejected' ">
          <app-error-show *ngIf="tokenHttpRequestStatus==='rejected'" [error]="'Tokens could not be fetched.Try again!'">

          </app-error-show>

          <app-spinner *ngIf="tokenHttpRequestStatus==='pending'" [type]="'bounce'"></app-spinner>
        </section>



        <section *ngIf="tokenHttpRequestStatus==='resolved'">
          <div class="row" *ngIf="!tokens.length">
            <div class="col-xs-12 text-center">
              <h3 class="text-center text-gray" *ngIf="tokenHttpRequestStatus==='resolved' && !tokens.length ">
                No Token has been issued yet!

              </h3>
            </div>
          </div>

          <div class="row">
            <div style="cursor: pointer" class="col-lg-4 col-md-6 col-sm-6" *ngFor="let token of tokens">
              <div class="card card-stats" style="border: 1px solid #c4c4c4" >
                <div class="card-header" data-background-color="green">
                  <i class="material-icons">store</i>
                </div>
                <div class="card-content">
                  <p class="category">Currency Name</p>
                  <h5 class="title">{{token?.issuerName}}.{{token?.assetpool?.currency}}</h5>

                  <hr>

                  <div class="row" style="text-align: left">

                    <div class="col-xs-6 text-left">
                      Balance
                    </div>
                    <div class="col-xs-6 text-right">
                      <b>{{token?.amount}}</b>
                    </div>
                  </div>
                  <hr>

                  <div class="row" style="text-align: left">

                    <div class="col-xs-6 text-left">
                      Exchange Rate
                    </div>
                    <div class="col-xs-6 text-right">
                      <b>{{token?.exchangeRate}}</b>
                    </div>
                  </div>
                  <hr>


                  <div class="row" style="text-align: left">

                    <div class="col-xs-6 text-left">
                      Status
                    </div>
                    <div class="col-xs-6 text-right">
                      <b [style.color]="getColor(token?.status)">
                        {{token?.status!==undefined ? (token?.status===0?'Pending':'Approved') : 'Checking'}}</b>
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">update</i> <a href="javascript:void(0)">{{token?.created|date:'medium'}}</a>
                  </div>
                </div>



              </div>
            </div>
          </div>


        </section>


      </div>

    </div>



  </div>
</div>
