<app-header></app-header>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Forgot your password?</h4>
            <p class="category">An email will be sent with the code</p>
          </div>
          <div class="card-content">
            <form *ngIf="!isEmailSent">
              <div class="row" >
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 13px;">Email</label>
                    <input type="email" [(ngModel)]="email"
                           required
                           name="email" class="form-control" >


                    <button
                            [disabled]="sendHttpRequestStatus==='pending' || !email"
                            type="submit"
                            (click)="sendPasswordResetToken()"
                            class="btn btn-danger pull-right">SEND
                    </button>
                  </div>
                </div>
              </div>
            </form>


            <div class="row" *ngIf="isEmailSent">
              <div class="col-xs-12 text-center">
                <h5>An email has been sent to {{email}}</h5>
                <label>Didn't get an email?</label>
                <a href="javascript:void(0)" (click)="resend()">Resend again</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>