<app-header></app-header>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card">
          <div class="card-header" data-background-color="green">
            <h4 class="title">Forgot your password?</h4>
            <p class="category">An email will be sent with the code</p>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" style="font-size: 13px;">Email</label>
                    <input type="email" [(ngModel)]="email"
                           required
                           name="email" class="form-control" >


                    <button
                            [disabled]="sendHttpRequestStatus==='pending' || !email"
                            type="submit"
                            (click)="sendPasswordResetToken()"
                            class="btn btn-danger pull-right">SEND
                    </button>
                  </div>
                </div>
              </div>





            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>