<div class="row" style="text-align: center" id="">
  <h3>User Details</h3>
  <div class="row" style="padding: 15px">


    <div class="col-lg-6" >

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>InternalID</b>
        </div>
        <div class="col-xs-8 text-right">
          <span class="text-gray">{{user?.id}}</span>
        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>AgriID</b>
        </div>
        <div class="col-xs-8 text-right">
          <span class="text-gray">{{user?.agriId || 'N.A'}}</span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Name</b>
        </div>
        <div class="col-xs-8 text-right">
          <span class="text-gray">{{user?.profiles?.name}}</span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Email</b>


        </div>
        <div class="col-xs-8 text-right">
                      <span class="text-gray">
                      {{user?.email}}
                      </span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Phone</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user?.profiles?.phone}}
                      </span>
        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Wechat ID</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.weChat}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Registered on Blockchain?</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.isRegisteredOnBlockchain?'Yes':'No'}}

                    </span>

        </div>
      </div>




      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Member since</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.createdAt|moment:true}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Last Login</b>


        </div>
        <div class="col-xs-8 text-right">

          <span class="text-gray" *ngIf="user.lastLoggedIn">{{user?.lastLoggedIn|moment}}</span>
          <span  class="text-gray" *ngIf="!user.lastLoggedIn">N.A</span>


        </div>
      </div>



    </div>
    <div class="col-lg-6" >

      <div class="row" style="text-align: left">
        <hr>


        <div class="col-xs-4 text-left">
          <b>Wallet address</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user.walletAddress || 'N.A'}}
                    </span>
        </div>

      </div>


      <div class="row" style="text-align: left">
        <hr>


        <div class="col-xs-4 text-left">
          <b>Registration no.</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user?.profiles?.registration}}
                    </span>
        </div>

      </div>

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Company</b>


        </div>
        <div class="col-xs-8 text-right" >
                      <span class="text-gray">
                      {{user?.profiles?.company}}
                      </span>
        </div>

      </div>


      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Country</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.country}}

                    </span>

        </div>
      </div>




      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Province</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.province}}

                    </span>

        </div>
      </div>
      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>City</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.city}}

                    </span>

        </div>
      </div>


      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>District</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.district}}

                    </span>

        </div>
      </div>



      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-6 text-left">
          <b>Address Line1</b>


        </div>
        <div class="col-xs-6 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.line1}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Address Line2</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.profiles?.address?.line2}}

                    </span>

        </div>
      </div>

      <div class="row" style="text-align: left">
        <hr>

        <div class="col-xs-4 text-left">
          <b>Issuer on Blockchain</b>


        </div>
        <div class="col-xs-8 text-right">
                    <span class="text-gray">
                      {{user?.isIssuerOnBlockchain?'Yes':'No'}}

                    </span>

        </div>
      </div>

    </div>
  </div>


</div>