<div class="main-content">
  <div class="container-fluid">


    <div class="row">
<!--
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" >
              <div class="card-header" data-background-color="green">
                <i class="material-icons">store</i>
              </div>
              <div class="card-content">
                <p class="category">Revenue</p>
                <h3 class="title">$34,245</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">date_range</i> Last 24 Hours
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>-->



      <div class="col-md-12" >
        <div class="stepper" style="margin-top: 50px">
          <div class="stepper-steps stepper-steps-isOffset">
            <div class="stepper-step"
                 [ngClass]="{'stepper-step-isActive':selectedStepperNumber===1}"
                 (click)="stepperSelected(1)">
              <div class="stepper-stepContent">
                <span class="stepper-stepMarker">1</span>Asset Category
              </div>
            </div>

            <div class="stepper-step "
                 [ngClass]="{'stepper-step-isActive':selectedStepperNumber===2}"
                 (click)="stepperSelected(2)">
              <div class="stepper-stepContent">
                <span class="stepper-stepMarker">1</span>Asset Name
              </div>
            </div>
            <div  class="stepper-step"
                  [ngClass]="{'stepper-step-isActive':selectedStepperNumber===3}"
                  (click)="stepperSelected(3)">
              <div class="stepper-stepContent">
                <span class="stepper-stepMarker">2</span>Asset Info
              </div>
            </div>
            <div class="stepper-step"
                 [ngClass]="{'stepper-step-isActive':selectedStepperNumber===4}"
                 (click)="stepperSelected(4)">
              <div class="stepper-stepContent">
                <span class="stepper-stepMarker">3</span>Put on Blockchain
              </div>
            </div>
          </div>
          <div class="stepper-content">

            <section class="step-1" *ngIf="selectedStepperNumber===1">
                <div class="card-content">
               <!--   <div class="col-md-12">
                    <div class="row">
                      <div class=" col-md-6 col-md-offset-3">
                        <div class="card card-stats" style="background-color: #00bfa5">
                          <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                          </div>
                          <div class="card-content">
                            <p class="category">Total Assets in Pool</p>
                            <h3 class="title">{{selectedAssetsForPool.length}}</h3>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>-->

                  <form>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group form-black  ">
                            <label class="control-label">Category 1</label>
                            <input [disabled]="true" type="text" [(ngModel)]="category.one"  name="category1" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group form-black  ">
                            <label class="control-label">Category 2</label>
                            <input [disabled]="true" type="text"  [(ngModel)]="category.two"  name="category2" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group form-black  ">
                            <label class="control-label">Category 3</label>
                            <input [disabled]="true" type="text" [(ngModel)]="category.three"   name="category3" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group form-black  ">
                            <label class="control-label">Category 4</label>
                            <input [disabled]="true" type="text" [(ngModel)]="category.four"   name="category4" class="form-control">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group form-black  ">
                            <label class="control-label">Category 5</label>
                            <input [disabled]="true" type="text"  [(ngModel)]="category.five"  name="category5" class="form-control">
                          </div>
                        </div>

                      </div>

                  </form>

                  <div class="row">
                    <div class="col-xs-12">
                      <button (click)="gotoStepperSection(2)" class=" btn btn-success pull-right">Continue</button>
                    </div>
                  </div>


                </div>
            </section>

            <section class="step-2" *ngIf="selectedStepperNumber===2">
              <div class="card-content">



                <form>
                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Name</label>
                        <input type="text"  [(ngModel)]="assetPool.name" name="name" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Asset currency</label>
                        <input  [(ngModel)]="assetPool.currency" style="text-transform: capitalize" type="text"  name="currency" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Estimate price</label>
                        <input  [(ngModel)]="assetPool.estimatedPrice" type="text"  name="estimatedPrice" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Estimate unit</label>
                        <input  [(ngModel)]="assetPool.estimatedUnit" type="text"  name="estimatedUnit" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Unlock condition</label>
                        <input  [(ngModel)]="assetPool.unlockCondition" type="text"  name="unlockCondition" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Exercise standard</label>
                        <input  [(ngModel)]="assetPool.excerciseStandard" type="text"  name="excerciseStandard" class="form-control" >
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Chain or not</label>
                        <input  [(ngModel)]="assetPool.chainOrNot" type="text"  name="chainOrNot" class="form-control" >
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Description</label>
                        <input  [(ngModel)]="assetPool.desc" type="text"  name="description" class="form-control" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button (click)="gotoStepperSection(3)" class=" btn btn-success pull-right">Continue</button>

                      <button (click)="gotoStepperSection(1)" class=" btn pull-right">Back</button>

                    </div>
                  </div>
                </form>
              </div>
            </section>


            <section class="step-3" *ngIf="selectedStepperNumber===3">
              <div class="card-content">
                <form>
                  <b>Product brand</b>
                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Name</label>
                        <input type="text" [(ngModel)]="assetPool.extra.productBrand.value"  name="productBrandValue" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Remark</label>
                        <input [(ngModel)]="assetPool.extra.productBrand.remark" style="text-transform: capitalize" type="text"  name="productBrandRemark" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Link</label>
                        <input [(ngModel)]="assetPool.extra.productBrand.link" type="text"  name="productBrandLink" class="form-control" >
                      </div>
                    </div>

                  </div>
                  <b>Packing standard</b>

                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Name</label>
                        <input [(ngModel)]="assetPool.extra.productStandard.value" type="text"  name="productStandardValue" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Remark</label>
                        <input [(ngModel)]="assetPool.extra.productStandard.remark" style="text-transform: capitalize" type="text"  name="productStandardRemark" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Link</label>
                        <input [(ngModel)]="assetPool.extra.productStandard.link" type="text"  name="productStandardLink" class="form-control" >
                      </div>
                    </div>

                  </div>


                  <b>Product index</b>

                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Name</label>
                        <input [(ngModel)]="assetPool.extra.productIndex.value" type="text"  name="productIndexValue" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Remark</label>
                        <input [(ngModel)]="assetPool.extra.productIndex.remark" style="text-transform: capitalize" type="text"  name="productIndexRemark" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Link</label>
                        <input [(ngModel)]="assetPool.extra.productIndex.link" type="text"  name="productIndexLink" class="form-control" >
                      </div>
                    </div>

                  </div>



                  <b>Production detail</b>
                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Name</label>
                        <input [(ngModel)]="assetPool.extra.productInfo.value" type="text"  name="productInfoValue" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Remark</label>
                        <input [(ngModel)]="assetPool.extra.productInfo.remark" style="text-transform: capitalize" type="text"  name="productInfoRemark" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Link</label>
                        <input [(ngModel)]="assetPool.extra.productInfo.link" type="text"  name="productInfoLink" class="form-control" >
                      </div>
                    </div>

                  </div>


                  <div class="row">
                    <div class="col-xs-12">
                      <button (click)="gotoStepperSection(4)" class=" btn btn-success pull-right">Continue</button>

                      <button (click)="gotoStepperSection(2)" class=" btn pull-right">Back</button>

                    </div>
                  </div>
                </form>
              </div>
            </section>


            <section class="step-4" *ngIf="selectedStepperNumber===4">
              <div class="card-content">
                <form>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Published number</label>
                        <input type="text"  [(ngModel)]="assetPool.maximum" name="maximum" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group form-black  ">
                        <label class="control-label">Accuracy</label>
                        <input type="text" [(ngModel)]="assetPool.precision"  name="precision" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button  class=" btn btn-success pull-right">SAVE</button>

                      <button (click)="gotoStepperSection(3)" class=" btn pull-right">Back</button>

                    </div>
                  </div>
                </form>
              </div>
            </section>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
