<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        About us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Privacy
                    </a>
                </li>

                <li>
                    <a href="#">
                        Terms
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="#">
                        Bugs
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">Agriledger Team</a>
        </p>
    </div>
</footer>
