footer {
    border-top: 1px solid #e7e7e7;
   /* clear: both;
    background-color: white;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;*/
}